{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "doubleQuote": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always"
}